@import url("https://fonts.googleapis.com/css?family=Quicksand:600|Roboto|Titillium+Web&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 3em;
  font-family: "Quicksand";
  color: white;
  min-height: 100vh;
}

#iste-presents {
  width: 80%;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: 4em;
  width: fit-content;
}
header h2 {
  font-size: 3em;
}
header img {
  position: relative;
  width: 8em;
  bottom: 2em;
}

#cards {
    font-size: 0.8em;
    width: 80%;
    height: fit-content;
    padding: 1em 0.7em;
    margin: 1em auto;
    margin-bottom: 7em;
    background: rgba(20,20,20,0.5);
    text-align: justify;
}

.story-card {
    margin: 1em 0;
    overflow: hidden;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(34,34,34,0.9);
  height: 5em;
  padding: 1em 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

.row {
  display: flex;
  align-items: center;
}

footer img {
  width: 3em;
  margin-right: 1em;
}

footer  div a {
  text-decoration: none;
  color:white;
}

footer  div p {
  position: relative;
  display: inline;
}

footer  i {
  font-size: 1.5em;
  margin: 0 0.5em;
}

@media only screen and (max-width: 576px) {
  header h1 {
    font-size: 2em;
  }
  header h2 {
    font-size: 1.5em;
  }
  header img {
    width: 4em;
    bottom: 0;
  }

  footer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  
  footer  img {
    width: 2em;
    margin-right: 0.66em;
  }
  
  footer  div p {
    font-size: 0.7em;
    text-align: center;
  }
  
  footer  i {
    font-size: 1em;
  }

  #story {
    font-size: 0.8em;
  }
}
